extends layout

block content
  a(method = 'GET' action = '/home')
    button.btn.btn-primary(type='submit') Home
  a(method = 'GET' action = '/logout')
    button.btn.btn-primary(type='submit') Logout
  a(method = 'GET' action = '/editProfile')
    button.btn.btn-primary(type='submit') Edit Profile

  p
    b #{recipe.title}

  p Prep Time: #{recipe.readyInMinutes} minutes


  each ingredient in recipe.extendedIngredients
    p - #{ingredient.originalString}
  p
    b Instructions 
  p #{recipe.instructions}

  if generated
    p(id = "playlistSuccessMsg") #{msg}
      a(href = url) here
  else
    - var json = JSON.stringify(recipe);
    form(method = 'POST' action = '/createPlaylist')
      button.btn.btn-primary(type='submit', value = json, name = 'playlistBtn') Generate Playlist
