extends layout

block content
  h1= title
  p
    b #{recipe.title}

  p Prep Time: #{recipe.readyInMinutes} minutes


  each ingredient in recipe.extendedIngredients
    p - #{ingredient.originalString}
  p
    b Instructions 
  p #{recipe.instructions}

  if generated
    p(id = "playlistSuccessMsg") #{msg}
  else
    - var json = JSON.stringify(recipe);
    form(method = 'POST' action = '/createPlaylist')
      button.btn.btn-primary(type='submit', value = json, name = 'playlistBtn') Generate Playlist
